FONT.c33 {
	FONT-SIZE: 12px; COLOR: #464646; FONT-FAMILY: ±¼¸²,±¼¸²Ã¼,Arial
}
FONT.c55 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-FAMILY: ±¼¸²,Seoul, Verdana, Helvetica
}
FONT.c66 {
	FONT-SIZE: 9pt; COLOR: #ff9900; LINE-HEIGHT: 14pt; FONT-FAMILY: ±¼¸²,Seoul,Verdana, Helvetica
}
