.eng {
	FONT-SIZE: 8pt; COLOR: #3d3d3d
}
.ac A {
	FONT-SIZE: 8pt; COLOR: #3d3d3d
}
.ac A:hover {
	COLOR: #ff6633; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; COLOR: #3d3d3d
}
A {
	COLOR: #888888; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #5d748d; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #336699; SCROLLBAR-ARROW-COLOR: #ffffff; FONT-FAMILY: Seoul, ±¼¸², Verdana, Helvetica; SCROLLBAR-DARKSHADOW-COLOR: #333333
}